<?xml version="1.0" encoding="utf-8" ?>
<config>
    <http>:8089</http>
    <secret_key>123456</secret_key>

    <mysql>
        <host>gmdb</host>
        <port>3306</port>
        <database>db_yut</database>
        <username>root</username>
        <password>123456</password>
    </mysql>
</config>
